body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  color: #283845;
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  padding: 10px;
  list-style: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:hover {
  background-color:#D6D8DB;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.container {
  padding: 50px;
  border-radius: 15px;
  border: 1px solid black;
}

ul {
  padding: 10px;
  list-style: none;
}

.col-md-4 {
  height: 80vh;
  justify-content: space-around;
}

.col-md-8 {
}

.game-info {
  flex: 1;
  padding: 10px;
}

.X {
  color: red;
}

.O {
  color: blue;
}